{% extends "base.html" %}   
{% block body%}
<br><br>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-1 column">
            </div>
            <div class="col-md-6 column">
                <div class="page-header">
                    <h1>
                        KeepFamily <small>controle financeiro</small>
                    </h1>
                </div>
            </div>
            <div class="col-md-4 column">
                {% if not user %}
                    <form class="form-horizontal" role="form" action="/home/logar" method="POST">
                       {% if error == 'login_error' %} <p class="error">Login ou senha incorretos</p> {% endif %}
                        <div class="form-group">
                            <label for="login" class="col-sm-2 control-label">Usuário</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwd" class="col-sm-2 control-label">Senha</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="passwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-default">Entrar</button>
                            </div>
                        </div>
                        <br><br><br>
                    </form>
                {% else %}
                    {{ user.name }} <a href="/home/logout">sair</a>
                {% endif%}
            </div>
            <div class="col-md-1 column">
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-1 column">
            </div>
            <div class="col-md-5 column">
                <div class="carousel slide" id="carousel-790270">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-790270">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-790270" class="active">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-790270">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img alt="" src="/static/img/home1.jpg">
                            <div class="carousel-caption">
                                <h4>
                                    Esqueça o papel!
                                </h4>
                                <p>
                                    Todos os seus gastos online, sem papel e sem bagunça.
                                </p>
                            </div>
                        </div>
                        <div class="item active">
                            <img alt="" src="/static/img/home2.jpg">
                            <div class="carousel-caption">
                                <h4>
                                    Controle suas despesas
                                </h4>
                                <p>
                                    Com o KeepFamily você controla todas as suas despesas e consegue poupar.    
                                </p>
                            </div>
                        </div>
                        <div class="item shade">
                            <img alt="" src="/static/img/home3.png">
                            <div class="carousel-caption">
                                <h4>
                                    Pra toda família
                                </h4>
                                <p>
                                    Controle quanto cada membro da sua familia gasta, assim você pode jogar na cara deles depois
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-790270" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-790270" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <h2>
                    Gerencie suas despesas
                </h2>
                <p>
                    O KeepFamily é um sistema de despesas de gestão doméstica. Com ele você pode controlar quanto de dinheiro entra e todas as suas contas com água, luz, telefone, cartão de crédito, e até despesas cotidianas como gasolina ou o lanche das crianças.
                </p>
            </div>
            <div class="col-md-1 column">
            </div>
            <div class="col-md-4 column">
                <h1><strong>Cadastre-se!</strong></h1>
                {%if error == 'username_error' %} <p class="error">O Login digitado ja esta sendo utilizado por outro usuario</p> {% endif %}
                <form role="form" class="form-inline" action="/home/cadastrar" method="POST">
                    <div class="form-group">
                         <label for="name">Nome</label><input type="text" class="form-control" name="name">
                    </div>
                    <br><br>
                    <div class="form-group">
                         <label for="username">Login</label><input type="text" class="form-control" name="username">
                    </div>
                    <br><br>
                    <div class="form-group">
                         <label for="email">Email</label><input type="email" class="form-control" name="email">
                    </div>
                    <br><br>
                    <div class="form-group">
                         <label for="passwd">Password</label><input type="password" class="form-control" name="passwd">
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-default">Cadastrar</button>
                </form>
            </div>
            <div class="col-md-1 column">
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}